<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Error</title>
</head>

<body>
    <div class="container">
        <h1>Error</h1>
        <hr>
        <br>
        <p>You didn't managed to register for the following reason:</p>
        <p data-th-text="${exceedPax}"></p>

        <p><a data-th-href="@{/events/listing}">Back to Event Listing</a></p>

    </div>
</body>

</html>